# Ignore Gradle build output
.gradle
**/build/
!src/**/build/
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper files
!gradle-wrapper.jar
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse IDE specific files
.project
.classpath

# Spring Tool Suite (STS)
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Helper files
HELP.md